/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

:root {
    --blue-cl: #163b92;
    --orange1-cl:#f16529;
    --orange2-cl:#e44d26;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   EDIT: Francesco Strazzante;
   ========================================================================== */

body {
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    font-weight: 300;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid var(--orange2-cl);
}

.footer-container,
.main aside {
    border-top: 20px solid var(--orange2-cl);
}

.header-container,
.footer-container,
.main aside {
    background: var(--orange1-cl);
}

header h1.title {
    font-weight: bold;
    text-align: center;
    margin: 16px auto 0;
    font-size: 25px;
    width: 253px;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: var(--orange2-cl);
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

span.tags {
    background: #cacaca;
    padding: 5px 6px;
    border-radius: 2px;
    font-size: 13px;
    color: #5f5f5f;
}

a{
    text-decoration: underline;
    color: #163b92;
}

p.tags {
    margin: 15px 0 40px;
    line-height: 30px;
}

section p {
    margin: 6px 0;
}

section h4 {
    margin: 0 0 5px;
}

a:hover .email{
    background-image: url(../img/email_hovericon.png);
}

a:hover .linkedin{
    background-image: url(../img/linkedin_hovericon.png);
}
.email,.linkedin{
    background-repeat: no-repeat;
    background-size: contain;
    float: unset;
    display: inline-flex;
}
.email{
    background-image: url(../img/emailicon.png);
    width: 37px;
    height: 25px;
    margin: 10px 15px;

}
.linkedin{
    background-image: url(../img/linkedinicon.png);
    width: 30px;
    height: 30px;
    margin-top: 0;
}
#social{
    width: 100%;
    float: unset;
    display: flow-root;
    text-align: center;
    margin: 5px 0
}
#social a{
    text-decoration: none
}

article header {
    margin: 0 0 40px;
}

article h2{
    color: #163b92;
}

/* ==========================================================================
   WORKS
   ========================================================================== */
.works{
    margin-bottom: 30px;
}
.works-container{
    display: none;
    -webkit-animation: fadein 2s; 
    -moz-animation: fadein 2s; 
    -ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.bold{
    font-weight: 600;
}
#box h2{
    font-size: 23px;
}
#box p,#box h2,#box h4{
    color: white;
}
.details{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: var(--blue-cl)!important;
}

#toggle-works{
    margin: 0 0 30px;
}
#box{
    padding: 0;
    height: 500px;
    background-color: var(--orange1-cl);
    will-change: transform; 
    margin: 20px;
    transform: scale3d(1,1,1) rotateX(0deg) rotateY(0deg);
    perspective: 1000;
    -webkit-transform: scale3d(1,1,1) rotateX(0deg) rotateY(0deg);
    -webkit-perspective: 1000;
    -moz-transform: scale3d(1,1,1) rotateX(0deg) rotateY(0deg);
    -moz-perspective: 1000;
    -o-transform: scale3d(1,1,1) rotateX(0deg) rotateY(0deg);
    -o-perspective: 1000;
    -ms-transform: scale3d(1,1,1) rotateX(0deg) rotateY(0deg);
    -ms-perspective: 1000;
    transform: scale3d(1,1,1) rotateX(0deg) rotateY(0deg);
    perspective: 1000;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
#box div{
    height: 100%;
    margin: 0;
    padding: 15px;
    width: 100%;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    position: absolute;
}
#box:hover div{
    -webkit-transform: translate3d(0px, 0px, 40px);
    -moz-transform: translate3d(0px, 0px, 40px);
    -o-transform: translate3d(0px, 0px, 40px);
    -ms-transform: translate3d(0px, 0px, 40px);
    transform: translate3d(0px, 0px, 40px);
}
#box div.title h4{
    font-size: 13px;
}
#box div.image{
    padding: 0;
}
#box div.image img{
    width: 280px;
    right: 0;
    bottom: 0;
    position: absolute;
}
#box div.year, #box div.visit{
    width: 180px;
    padding: 0;
}
#box div.visit{
    width: 100%;
}
#box div.year p, #box div.visit p{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    position: absolute;
    font-size: 30px;
    background-color: #163b92;
    padding: 0 18px;
    bottom: 244px;
}
#box div.visit p{
    right: 0
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */
    header h1.title{
        font-weight: bold;
        text-align: center;
        margin: 16px auto;
        font-size: 33px;
        width: 350px;
        float: left;
    }
    #social{
        margin: 0;
        float: right;
        width: unset;
    }
    .email,.linkedin{  
        margin: 15px;
        float: right;
    }   
    .email{
        margin: 27px 0 0;
    }
    .linkedin{
        margin-left: 50px;
        margin-top: 20px;
    }

    nav a {
        float: left;
        width: 100px;
        margin: 0 10px;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }
    header.title{
        text-align: none;
    }
    

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 220px;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        /*width: 57%;*/
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
    #box div{
        padding: 30px;
    }
    #box div.image img{
        width: 350px;
    }
    #box div.visit p {
        right: unset;
        bottom: 41px
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}